<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Abraham_Saenz</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  
  <body>
    <header>
      <h1>Pasatiempos</h1>
    </header>

    <main>
    <article>
	<div id="lista">
        <h2>Lista de mis pasatiempos</h2>
		  <ul>
			  <li v-for="day in daysOfWeek">{{ day }}</li>
		  </ul>
  </div>

  <div id="count">
    <button @click="increment">Counter is {{ counter }}</button>
  </div>

  <div id="nombre">
    <h3> Ahora que comparti mis pasatiempos favoritos, !escruibe el tuyo!</h3>
		<label>Escribe aqui tu pasatiempo favorito: </label><input type="text" v-model="myName" placeholder="Ingrese aqui" style="width: 300px;" />
    <br>
    <br>
    <button @click="toggle">Ingresar</button>
		<h1 v-if="flag"></h1>
    <h1 v-else="flag"><label> ¡El pasatiempo {{ myName }} tambien me gusta!</label></h1>
  </div>
      
<!--
<script>
    var lista = new Vue({
      el: '#lista',
      data: {
        daysOfWeek: ['Ejercicio','Hablar con mis amigos','Ir al cine','Cocinar','Escuchar Musica','Ir de Viaje','Jugar juegos de mesa']
      }
    })
</script>

<script>
    var count = new Vue({
      el: '#count',
      data: {
        counter : 0
      },
      methods: {
        increment() {
            this.counter++;
        }
      }
    })
</script>

<script>
    var nombre = new Vue({
      el: '#nombre',
      data: {
       myName: '',
       flag: true
      },
      methods: {
        toggle(){
          this.flag = !this.flag;
        }
      }
    })
</script>
      -->
      
  </article>
</main>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>

    <script src="script.js"></script>
    
  </body>
</html>