<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Abraham_Saenz</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
      <h1>Turismo</h1>
    </header>

    <main>
    <article>
	<div id="app">
      <h2>Lista de los mejores destinos para visitar en 2022</h2>
		<ul>
			<li v-for="day in daysOfWeek">{{ day }}</li>
		</ul>

    <h3>Da like si te gustaria visitar alguna de estos lugares</h3>
    <button @click="increment"> LIKE</button>&nbsp;<label>{{ counter }}</label>

    <h3> ¿A que lugares quisieras visitar en 2022?</h3>
		<label>Escribe aqui tu destino: </label><input type="text" v-model="myName" placeholder="Ingrese aqui" style="width: 300px;" />
    <br>
    <br>
    <button @click="toggle">Ingresar</button>
		<h1 v-if="flag"></h1>
    <h1 v-else="flag"><label> ¡Yo tambien quiero viajar a {{ myName }}!</label></h1>

    <h2>--------Clase 05/04/2022-----------</h2><button @click="Id++">Mostrar la hora actual</button><br />
    <label>Son las: {{ currentTime }}</label>

    <h3>Lista de paises visitados</h3>
    <ul>
        <li v-for="task in filteredTasks" :key="task.id">
            <input type="checkbox" v-model="task.done">
            <span :class="{ done: task.done }">{{ task.text }}</span>
        </li>
    </ul>
    <button @click="toogleHideCompleted">
        {{ hideCompleted ? 'Enseñar todos' : 'Ocultar los visitados' }}
    </button>

    <h4>DOM Reference </h4>
    <p ref="p">hello</p>
    
  </div>

  <style>
    .done { text-decoration: line-through; }
  </style>
      
<script src="https://unpkg.com/vue@3"></script>
      
<script>
  let id = 0;
  Vue.createApp({
    data(){
      return{
        daysOfWeek: ['Egipto','Malawi','Nepal','Oman','Anguila','Eslovenia','Belice', 'Mauricio', 'Noruega', 'Islas Cook'],
        counter: 0,
        myName: '',
        Id: 0,
        currentTime: '',
        flag: true,
        hideCompleted: false,
        tasks: [
              { id: id++, text: 'Egipto', done: true },
              { id: id++, text: 'Nepal', done: true },
              { id: id++, text: 'Oman', done: false },
              { id: id++, text: 'Noruega', done: false } 
              ]
      }
    },
    mounted(){
            var today = new Date();
            this.$refs.p.textContent = 'La fecha actual es ' + today;
        },
    methods: {
      increment(){
        this.counter++;
      },
      toggle(){
          this.flag = !this.flag;
          this.flag = false;
      },
      getCurrentTime(){
                var today = new Date();
                this.currentTime = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds() + ":" + today.getMilliseconds();
      },
      toogleHideCompleted(){
                this.hideCompleted = !this.hideCompleted
      }
    },
    watch: {
            Id() {
                this.getCurrentTime();
            }
    },
    computed: {
            filteredTasks() {
                return this.hideCompleted
                    ? this.tasks.filter((t) => !t.done)
                    : this.tasks
            }
    }
  }).mount('#app');
</script>
      
  </article>
</main>
    
    <script src="script.js"></script>
    
  </body>
</html>


</script>